@using Transfer.Utility;
@using Transfer.Enum;
@{
    ViewBag.Manu = "A5Main";
    ViewBag.SubManu = "A57Sub";
    ViewBag.Title = "執行信評轉檔";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ui-datepicker-trigger {
        border: none;
        background: none;
    }

    .error {
        color: red;
    }
</style>
<div class="container" id="main">
    <div class="row main_hand">
        <div class="col-md-12 main_hand_div">
            <form id="myForm">
                <table>
                    <tr>
                        <td style="width:550px; padding-top:5px;" class="form-group TS T0 T1 T3">
                            <label>報導日 : </label>
                            <input type="text" id="datepicker" name="datepicker">
                        </td>
                        <td style="width:450px;padding-top:10px;" class="TS T0 T1 T3">
                            <label>資料版本 : </label>
                            <input type="text" id="version" name="version" style="width:300px">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-top:10px">
                            <input type="button" class="btn btn-primary" value="執行信評轉檔" id="btnTransfer" disabled />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="row main_body" style="overflow:auto;height:100%">
        <div class="col-md-12">
            <div class="viewDetail">
                <div id="jqgridDiv" class="jqd">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/i18n/datepicker-zh-TW.js"></script>  @*use datepicker*@
<script src="~/Scripts/jquery.validate.min.js"></script> @*use validate*@
<script src="~/Scripts/verification.js"></script> @*use validate*@

<script type="text/javascript">

    $(function () {
        //#region 註冊URL
        var url = {};
        @*url.getData = '@Url.Action("GetData", "A5")';
        url.getDbData = '@Url.Action("GetCacheData", "A5")';*@
        //#endregion 註冊URL

        //#region 註冊datepicker
        created.createDatepicker('datepicker', true, '');
        //#endregion 註冊datepicker

        //#region 註冊verified
        verified.datepicker("myForm", "datepicker", true, $('#datepicker').val());
        verified.required("myForm", "version", message.required(message.version));
        //#endregion 註冊verified

        //$('#searchType').on('change', function () {
        //    $('.TS').hide();
        //    var opencls = $(this).val();
        //    $('.' + opencls).show();
        //});

        ////#region 註冊click事件
        //$('input:button').each(function () {
        //    var id = $(this).attr('id');
        //    switch (id) {
        //        case 'btnA57Search':
        //            $('#' + id).click();
        //            break;
        //        case 'btnA57Dl':
        //            $('#' + id).click();
        //            break;
        //        case 'fileSubmit':
        //            $('#' + id).click(fileSubmitFunction);
        //            break;
        //        case 'btnTransfer':
        //            $('#' + id).click(transfer);
        //            break;
        //    }
        //})
        ////#endregion 註冊click事件
    });
</script>