@{
    ViewBag.Title = "A51 (信評主標尺對應檔)";
    ViewBag.Manu = "A7Main";
    ViewBag.SubManu = "A74Sub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" id="main" >
    <div class="row main_hand">
        <div class="col-md-12 main_hand_div">
                <input type="button" class="btn btn-primary" value="A51查詢" id="btnA51Search" />
        </div>
    </div>
    <div class="row main_body" style="overflow:auto;height:100%">
        <div class="col-md-12">
            <div class="viewDetail">
                <div id="jqgridDiv" class="jqd">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {

        //#region 註冊URL
        var url = {};
        url.getData = '@Url.Action("GetData", "A7")';
        //#endregion 註冊URL

        //#region 註冊click事件
        $('input:button').each(function () {
            var id = $(this).attr('id');
            switch (id) {
                case 'btnA51Search':
                    $("#" + id).on('click', function () { showJqgrid('A51') });
                    break;
            }
        })
        //#endregion 註冊click事件

        //#region 去controller 撈取資料並且用JqGrid套件顯示
        function showJqgrid(type)
        {
            clearJqgrid();
            var title = ''; //標頭
            var colNameArray = []; //每個欄位名稱要對應傳入資料屬性
            var data ; // json Data 由Ajax 拿到
            switch (type)
            {
                case "A51":
                    title = 'Grade_Moody_Info(A51)';
                    colNameArray = ['Data_Year', 'Rating',
                        'PD_Grade', 'Rating_Adjust',
                        'Grade_Adjust', 'Moodys_PD'
                    ];
                    break;
            }
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    type: type
                }),
                dataType: "json",
                url: url.getData,
                contentType: 'application/json'
            })
            .done(function (result) {
                if (result.RETURN_FLAG) {
                    data = result.Datas.Data;
                    createJqgrid("list1", "pager1", colNameArray, data, title);
                }
                else {
                    toastr.error(result.DESCRIPTION);
                }
            });
        }
        //#endregion

        //#region clearJqgrid (清除JqGrid)
        function clearJqgrid()
        {
            $('#jqgridDiv').children().remove();
        }
        //#endregion clearJqgrid

        //#region createJqgrid (建立JqGrid套件)
        //listId (Jqgrid產生table的ID)
        //pagerId (下方產生筆數的ID)
        //colNameArray (設定上方Title *要與Data 傳入Json 屬性相對應)
        //data (要秀的資料Json型別Data)
        //title (標題)
        function createJqgrid(listId, pagerId, colNameArray, data, title) {
            var colModelArray = [];
            //var jagridLWidth = 210;
            var jagridMWidth = 100;
            if (colNameArray.length > 0) {
                for (let i = 0; i < colNameArray.length; i++) {
                    var obj = {
                        name: colNameArray[i],
                        index: colNameArray[i],
                        width:  jagridMWidth
                    }
                    colModelArray.push(obj);
                }

                $('#jqgridDiv').append('<table id="' + listId + '"></table>');
                $('#jqgridDiv').append('<div id="' + pagerId + '"></div>');                
                $("#" + listId).jqGrid({
                    data: data,
                    datatype: "local",
                    mtype: "POST",
                    colNames: colNameArray,
                    colModel: colModelArray,
                    rowNum: 10, //一頁筆數
                    rowList: [10, 20, 30], //設定一頁幾筆
                    pager: '#' + pagerId,
                    height: '237',
                    width: 'auto',
                    //sortname: 'id',
                    //viewrecords: true,
                    sortorder: "desc",
                    caption: title, //標題
                    resizable: false,
                    shrinkToFit: false,
                    autoencode: true,
                    viewsortcols: [true, 'vertical', true],
                    ajaxRowOptions: { contentType: "application/json" },
                    serializeRowData: function (data) {
                        return JSON.stringify(data);
                    },
                });
                $("#" + listId).jqGrid('navGrid', '#' + pagerId, { edit: false, add: false, del: false });
            }
        }
        //#endregion createJqgrid
    });
</script>