@{
    ViewBag.Title = "IFRS9";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding-top:10px">
    @using (Ajax.BeginForm("Upload", "Home",
     new AjaxOptions {  HttpMethod = "POST" },
    new { enctype = "multipart/form-data" ,@id = "form0" }))
    {
        <label for="file">轉檔檔案:</label>
        <input type="file" name="file" />
        <input type="submit" value="資料上傳" />
    }
    <input type="button" value="轉檔" id="btnTransfer"/>
    <input type="button" value="A81查詢" id="btnA81Search"/>
    <input type="button" value="A82查詢" id="btnA82Search" />
    <input type="button" value="A83查詢" id="btnA83Search" />
</div>

<script type="text/javascript">
    //function uploadDone(result)
    //{
    //    debugger
    //}
    $(function () {
        $("#form0").submit(function (event) {
            var dataString;
            event.preventDefault();
            var action = $("#form0").attr("action");
            if ($("#form0").attr("enctype") == "multipart/form-data")
            {
                dataString = new FormData($("#form0").get(0));
                processData = false;
            }
            else
            {
                // regular form, do your own thing if you need it
            }        
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: false,
                processData: false,
                success: function (result) {
                    //console.log(JSON.stringify(data.DESCRIPTION));
                    if (result.RETURN_FLAG)
                    {

                    }
                    else
                    {
                        alert(result.DESCRIPTION);
                    }
                },
                error: function (result) {                  
                    alert(result.DESCRIPTION);
                }
            });
        }); //end .submit()
    });


    //$(function () {
    //    $('input').each(function () {
    //        switch ($(this).attr('id'))
    //        {
    //            case 'btnUpload':
    //                break;
    //            case 'btnTransfer':
    //                break;
    //            case 'btnA81Search':
    //                break;
    //            case 'btnA82Search':
    //                break;
    //            case 'btnA83Search':
    //                break;
    //        }
    //    })
    //});

</script>